.ma-about p{
    margin: 10px 0;
}
.ma-about p span{
    color: #fff;
}
.project-card{
    border: 1px solid #fff;
    border-radius: 15px;
    transition: .8s;
    margin-bottom: 15px;
}

.project-card:hover{
    transform: scale(1.04);
}
.project-img{
    opacity: 0.7;
    padding: 15px;
}
.project-img img{
    border-radius: 15px 15px 0 0;

}
.project-card:hover .project-img{
    opacity: 1;
}
.project-info{
    padding: 15px;
}
.project-info a{
    text-decoration: none;
    color: #ff646473;
}